

.dark {
  transition: .1s;
  --primarycolor: #181d25;
  --secondarycolor: #ffffff;
}

.card1 {
  --bg: #e8e8e89e;
  --contrast: #e2e0e0;
  --grey: #93a1a1;
  position: absolute;
  height: 300px;
  width: 20%;
  margin-top: 400px;
  padding: 9px;
  background-color: var(--bg);
  backdrop-filter: blur(2px);
  transition: all .3s;
  left: 10px;
  display: none;
  color: var(--secondarycolor);
  border-radius: 30px;
border: 1px solid #dd950e;
transition: all 0.3s ease-in-out;
z-index: -1;
}
.card-active{
  display: block;
  
  
}

.card1 > ul {
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
  margin-top: 25px;
}

.Navbar-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px;
  height: 10vh;
  width: 101%;
  position: fixed;
  background-color: var(--primarycolor);
  box-shadow: 2px 2px 3px rgba(128, 128, 128, 0.201);
  z-index: 1;
  color: var(--secondarycolor);
  top:0;
}

.nav-left {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 20px;
}
/*-----------------------------------------------------------------HamBurger----------------------------------------*/
.hamBurger {
  display: flex;
  flex-direction: column;
  gap: 5px;
  border: 2px solid rgba(240, 137, 12, 0);
  border-radius: 10px;
  height: 50px;
  padding: 10px;
  background: linear-gradient(180deg, #fdc50f 26.71%, #fb98f2 110.36%);
  align-items: center;
  justify-content: center;
  cursor: pointer;
 display: none;
}

.bar {
  height: 5px;
  width: 30px;
  background-color: black;
  border-radius: 10px;
  transition: all 0.3s ease-in-out;
}

.hamBurger.active1 .bar:nth-child(1) {
  transform: translateY(10px) rotate(45deg);
}

.hamBurger.active1 .bar:nth-child(2) {
  opacity: 0;
}

.hamBurger.active1 .bar:nth-child(3) {
  transform: translateY(-10px) rotate(-45deg);
}

/*-----------------------------------------------------------------HamBurger----------------------------------------*/



/* ------------------------------------------------------------TOGEL-------------------------------------*/
.toggle{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  
}
label{
  width: 100px;
  height: 50px;
  position: relative;
  
  background-color: #ebebeb;
  box-shadow: inset 0px 5px 15px rgb(0, 0,0,0.4),inset -0px -5px 15px rgb(255, 255,255,0.4);
  border-radius: 200px;
  display: block;
  transition: .3s;
  cursor: pointer;
}
label::after{
  content: "";
  width: 40px;
  height: 40px;
  position: absolute;
  background:linear-gradient(#f18c08ab,#d8d6d2);
  border-radius: 100%;
  top: 5px;
  left: 5px;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.24);
  transition: .3s;
}
.toggleButton{
  height: 0;
  width: 0;
  visibility: hidden;
 
}
.toggleButton:checked +label {
background-color: #71717a;
}
.toggleButton:checked +label::after{
  left:55px;
  background: linear-gradient(#e8a107a3,#3a3a3a46);
  transform: translateX(-5%);
  transition: .3s;
}
label svg{
position: absolute;
height: 30px;
width: 30px;
top: 5px;
left: 10px;
z-index: 100;
}
label svg.moon{
  left: 60px;
  transition: .3s;
  top: 10px;
  
}
label svg.sun{
  left: 10px;
  transition: .3s;
  top: 10px;
}
/*--------------------------------------------------------------------TOGLE------------------------------*/

.nav-right {
  display: flex;
  justify-content: flex-start;
  gap: 20px;
  
}

.nav-right > ul {
  display: flex;
  gap: 50px;
  padding: 5px;

}
.nav-right > ul > li>a{
border-bottom: 3px solid transparent ;
transition: all .2s;
border-radius: 3px;
cursor: pointer;
}
.nav-right > ul > li > a:hover {
  color: orange;
  padding-bottom: 4px;
  border-radius: 2px;
  border-bottom-width: 100%;
border-bottom: 3px solid orange ;
}




/* Responsive styles */
@media only screen and (max-width: 1200px) {
  .Navbar-container {
    padding: 15px;
  }
}


@media (max-width: 1049px) {
  .Navbar-container {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 20px;
   
  }
  .nav-left {
    
    gap: 10px;
  }
  
}

@media only screen and (max-width: 855px) {
  .nav-left {
    gap: 10px;
  }

  .nav-right > ul {
    gap: 20px;
  }
}
@media only screen and (max-width: 810px){
  
    .nav-right > ul {
      font-size: .8rem;
      gap: 10px;
      padding: 2px;
    }
    .Navbar-container {
      display: flex;
      align-items: center;
      justify-content: space-evenly;
    }
}
@media only screen and (max-width: 720px){
    .toggle{
      margin-top: 2px;
    }
    .nav-right > ul {
      display: none;
    }
    .Navbar-container {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
    .card1 {
      
      height: 300px;
      width: 30%;
      margin-top: 55px;
      padding: 9px;
     }
    .hamBurger {

      width: 50px;
      height: 50px;
      padding: 8px;
      
     display: block;
    }
    .bar {
      height: 5px;
      width: 30px;
      padding: 4px;
      margin-top: 2px;
      
      display: block;
    }
    
    .hamBurger.active1 .bar:nth-child(1) {
      transform: translateY(10px) rotate(45deg);
    }
    
    .hamBurger.active1 .bar:nth-child(2) {
      opacity: 0;
    }
    
    .hamBurger.active1 .bar:nth-child(3) {
      transform: translateY(-10px) rotate(-45deg);
    }
}
@media only screen and (max-width: 520px){
  .card1{
    margin-top: 35px;
    margin-left: 10px;
    width: 90%;

  }
  .toggle{
    margin-top: -10px;
  }
}
